h1 {
    padding: 1em 1em;
}

.container-fluid {
    background-color: rgba(0,50,0,0.6); /*#112211; */
}
#navTitle {
    margin-top: 0.1em;
    margin-left: 2em;
    font-size: x-large;
    color: #67b168;
}
#navHead {
    margin-top: 0.4em;
    margin-left: 1em;
    font-size: medium;
    font-weight: 500;
}
#navCurrent {
    border-bottom: 3px solid #C6E746;
    margin-bottom: -2px;
}
#navLogin {
    margin-top: 0.4em;
    margin-right: 2em;
    font-size: medium;
    font-weight: 500;
}

#mainContent {
    background: linear-gradient(#ffffff,rgba(143,250,255,0.7));
}
#iMac {
    margin-top: 60px;
    margin-left: 20px;
}
#drawer {
    margin-top: 180px;
    margin-left: 20px;
}
#books {
    margin-top: 200px;
    margin-left: 0;
}
#alarm {
    margin-top: 110px;
    margin-left: 30px;
}
#coffee {
    margin-top: 200px;
    margin-left: 50px;
}

#footerContent {
    background-color: #eeeeee;
    padding-top: 1em;
}
#limonium {
    margin-top: 2em;
    margin-left: 5em;
}
#footerCn1 {
    margin-top: 1em;
    margin-left: 1em;
}

comment {
    text-align: center;
    color: #555555;
    padding: 2em;
    line-height: 2em;
}